@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thread Haven</h1>
    <p>IN-Class ASP.NET e-com clothing web app</p>
    <p>The current date and time is : @ViewData["Timestamp"]</p>
</div>
